.project-image,
.project-multi-image {
  max-width: 100vw;
  height: auto;
}

.project-multi-image img {
  height: 60vh;
  width: auto;
  margin: 0 2em 2em 0;
}
.project-image img {
  max-width: 100%;
  height: auto;
  box-shadow: 4px 4px 6px 0px rgba(1, 29, 36, .2);
}
iframe {
  box-shadow: 4px 4px 6px 0px rgba(1, 29, 36, .2);
}

.project-name,
.project-name a,
.project-name a:visited {
  font-size: 1.5rem;
  color: #287cd1;
  text-decoration: none;
}
.project-description {
  font-size: 1rem;
  color: #3a7f9c;
  font-weight: medium;
  padding-bottom: 1vh;
}
.Project {
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
}
.Project a {
  text-decoration: none;
  color: #287cd1;
}
.Project a:visited {
  color: #287cd1;
}
.project-tags {
  font-size: 0.7rem;
  color: #7a97a3;
  word-spacing: 0.2em;
}
.project-notes {
  font-size: 0.85rem;
  color: #5a8596;
  word-spacing: 0.2em;
  max-width: 55em;
  padding-top: 1vh;
}
